@import 'tailwindcss';

@config '../tailwind.config.js';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

html, body {
  scrollbar-gutter: stable;
}

.prose .anchor {
  @apply absolute invisible no-underline -ml-4 md:-ml-6 pr-1 md:pr-2;

  width: 80%;
  height: 100%;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor::after {
  @apply absolute text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.inline-code {
  @apply px-2
}

#lid,
#rocket,
#fire {
  transition: all 0.2s ease;
}

#fire {
  opacity: 0
}

#lid {
  transform-origin: bottom left;
}

svg:hover #lid {
  transform: translateY(-10%) rotate(-10deg);
}

svg:hover #rocket {
  transform: translate(10%, -10%);
}

svg:hover #fire {
  transform: translate(10%, -10%);
  opacity: 1
}

svg:hover #up {
  transform: translateY(-8%);
}

svg:hover #down {
  transform: translateY(8%);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  background-color: #1d1b1b;
  width: 3px;
  height: 5px;
 }

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar {
  background-color:#999999;
  border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar {
  background-color: #1d1b1b;
  padding: 5px;
}

[data-rehype-pretty-code-fragment] > pre > code {
  @apply bg-transparent inline-block;
}

.sober {
  @apply after:absolute after:-right-4 after:top-4 after:h-[1px] after:w-3 after:rotate-[315deg] after:bg-slate-100 after:content-[""] before:absolute before:-left-4 before:top-4 before:h-[1px] before:w-3 before:rotate-[35deg] before:bg-slate-100 before:content-[""]
}

.katex-html {
  display: none;
}