@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --info: '#3182ce';
  --info-text: 'rgb(18, 181, 157)';
  --info-border: 'rgba(18, 181, 157, .5)';

  --warn: '#e6a700';
  --danger: '#e53e3e';
}

html, body {
  scrollbar-gutter: stable;
}

.prose .anchor {
  @apply absolute invisible no-underline -ml-4 md:-ml-6 pr-1 md:pr-2;

  width: 80%;
  height: 100%;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor::after {
  @apply absolute text-slate-300;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply relative text-mallard-50
}

#lid,
#rocket,
#fire {
  transition: all 0.2s ease;
}

#fire {
  opacity: 0
}

#lid {
  transform-origin: bottom left;
}

svg:hover #lid {
  transform: translateY(-10%) rotate(-10deg);
}

svg:hover #rocket {
  transform: translate(10%, -10%);
}

svg:hover #fire {
  transform: translate(10%, -10%);
  opacity: 1
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  background-color: #1d1b1b;
  width: 3px;
  height: 5px;
 }

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar {
  background-color:#999999;
  border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar {
  background-color: #1d1b1b;
  padding: 5px;
}

[data-rehype-pretty-code-fragment] > pre > code {
  @apply bg-transparent;
}

.sober {
  @apply after:absolute after:-right-4 after:top-4 after:h-[1px] after:w-3 after:rotate-[315deg] after:bg-slate-100 after:content-[""] before:absolute before:-left-4 before:top-4 before:h-[1px] before:w-3 before:rotate-[35deg] before:bg-slate-100 before:content-[""]
}

.main {
  @apply h-fit;
  min-height: 100svh;
}

.admonition-info {
  
}